@font-face
    font-family: koaraRegular;
    src: url("fonts/koara_regular.otf");

body
  background-color: #faebd7 !important
  font-family: Verdana, Geneva, sans-serif
  .background
    width: 100vw
    height: 100vh
    position: absolute
    .tilt-bar
      display: none
  main
    position: relative
    z-index: 1
    h1
      text-align: center
      font-family: koaraRegular
      font-size: 4em
      margin-top: 2em
