@font-face
    font-family: koaraRegular;
    src: url("fonts/koara_regular.otf");

body
  background-color: #faebd7 !important
  font-family: Verdana, Geneva, sans-serif
  .background
    width: 100vw
    height: 100vh
    position: absolute
    .tilt-bar
      display: none
  main
    position: relative
    z-index: 1
    font-family: koaraRegular
    display: flex
    flex-flow: column
    justify-content: space-around
    align-items: center
    height: 100%
    .title
      text-align: center
    button
      font-family: koaraRegular
      color: white
      background: none
      outline: 1px solid white
      border: none
      padding: .5em 1em
      cursor: pointer
      font-size: 2em
      width: fit-content
      &:active
        background: black
