@font-face {
  font-family: koaraRegular;
  src: url("fonts/koara_regular.otf");
}
body {
  background-color: #faebd7 !important;
  font-family: Verdana, Geneva, sans-serif;
}
body .background {
  width: 100vw;
  height: 100vh;
  position: absolute;
}
body .background .tilt-bar {
  display: none;
}
body main {
  position: relative;
  z-index: 1;
}
body main h1 {
  text-align: center;
  font-family: koaraRegular;
  font-size: 4em;
  margin-top: 2em;
}
