@font-face {
  font-family: KoaraRegular;
  src: url("fonts/Koara-Regular.otf");
}
@font-face {
  font-family: ArberVintage;
  src: url("fonts/Arber-Vintage-Free.woff");
}
body {
  background-color: #faebd7 !important;
  font-family: Verdana, Geneva, sans-serif;
}
body .background {
  width: 100vw;
  height: 100vh;
  position: absolute;
}
body .background .tilt-bar {
  display: none;
}
body main {
  position: relative;
  z-index: 1;
  font-family: ArberVintage;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
body main .title {
  text-align: center;
}
body main button {
  font-family: ArberVintage;
  color: #fff;
  background: none;
  outline: 1px solid #fff;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
  font-size: 2em;
  width: fit-content;
}
body main button:active {
  background: #000;
}
